/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/outfit-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/outfit-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/outfit-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* young-serif-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Young Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/young-serif-v2-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --c-white: hsl(0, 0%, 100%);
  --c-stone-100: hsl(30, 54%, 90%);
  --c-stone-150: hsl(30, 18%, 87%);
  --c-stone-600: hsl(30, 10%, 34%);
  --c-stone-900: hsl(24, 5%, 18%);
  --c-brown-800: hsl(14, 45%, 36%);
  --c-rose-800: hsl(332, 51%, 32%);
  --c-rose-50: hsl(330, 100%, 98%);
  --color-background: var(--c-stone-100);
  --color-recipe-background: var(--c-white);
  --color-headline-primary: var(--c-stone-900);
  --color-headline-secondary: var(--c-brown-800);
  --color-text: var(--c-stone-600);
  --color-preparation-background: var(--c-rose-50);
  --color-preparation-headline: var(--c-rose-800);
  --border-bottom-sections: var(--c-stone-150);
  --bullet-list-items-outside: var(--c-brown-800);
  --bullet-list-items-inside: var(--c-rose-800);
  --border-bottom-table: var(--c-stone-150);
  --color-table: var(--c-brown-800);
  --ff-sans-serif: "Outfit", Arial, Helvetica, sans-serif;
  --ff-serif: "Young Serif", Georgia, "Times New Roman", Times, serif;
}

*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-sans-serif);
  background-color: var(--color-background);
}

h1,
h2 {
  font-family: var(--ff-serif);
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: 2.4rem;
  margin-block-end: 24px;
  color: var(--color-headline-primary);
  @media (width >= 68.75rem) {
    font-size: 2.8rem;
  }
}

h2 {
  font-size: 1.75rem;
  color: var(--color-headline-secondary);
  margin-block-end: 24px;
}

p {
  line-height: 1.6;
  font-size: 1rem;
  margin-block-end: 24px;
  color: var(--color-text);
  @media (width >= 68.75rem) {
    font-size: 1.1rem;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  margin-inline-start: 20px;
  color: var(--color-text);
  line-height: 1.8;
  li {
    padding-inline-start: 14px;
  }
}

ul {
  li::marker {
    font-size: 0.8rem;
  }
}

ol {
  li {
    margin-block-end: 8px;
    font-size: 1rem;
  }
}

img {
  max-width: 100%;
  height: auto;
  @media (width >= 68.75rem) {
    margin-block-end: 28px;
  }
}

section {
  padding-block: 28px;
}

section.ingredients ul li::marker,
section.instructions ol li::marker {
  color: var(--bullet-list-items-outside);
}

section.instructions ol li::marker {
  font-weight: 600;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid var(--border-bottom-table);
  }

  th,
  td {
    padding-inline-start: 40px;
    padding-block: 24px;
    color: var(--color-text);
  }

  th {
    font-weight: 400;
  }

  td {
    font-weight: 800;
    color: var(--color-table);
  }
}

.border-bottom {
  border-bottom: 1px solid var(--border-bottom-sections);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* 1100px */
  @media (width >= 68.75rem) {
    padding-block: 8rem;
  }
}

.recipe {
  background-color: var(--color-recipe-background);
  /* 1100px */
  @media (width >= 68.75rem) {
    padding: 40px;
    max-width: 52rem;
    border-radius: 30px;
  }
}

.recipe__img {
  @media (width >= 68.75rem) {
    border-radius: 16px;
  }
}

.recipe__text {
  @media (width < 68.75rem) {
    padding: 24px;
  }
}

.recipe__preparation {
  background-color: var(--color-preparation-background);
  padding: 18px;
  border-radius: 12px;
  h2 {
    font-family: var(--ff-sans-serif);
    font-weight: 600;
    font-size: 1.3rem;
    margin-block-end: 18px;
    color: var(--color-preparation-headline);
  }
  li::marker {
    color: var(--color-preparation-headline);
  }
}
